{% extends 'base.html' %}

{% block ask %}
<div class="container mt-6">

  <div class="ask-title">
    <p style="font-size: 30px; font-weight: 800;">{{ title }}</p>
  </div>

  <div class="row d-flex justify-content-left">
    <div class="login-window col-md-6" style="width: 700px;">
      <div class="card px-3 py-3">
        <div class="form-data" style="width: 100%;">

          <form method="POST">
            <div class="title-input forms-inputs mb-4">
                <span>Title</span>
                <input autocomplete="off" type="text" placeholder="In a nutshell" minlength="3" maxlength="50" required>
            </div>

            <div class="text-input forms-inputs mb-4" style="height: 200px;">
                <span>Text</span>
                <textarea autocomplete="off" type="text" style="height: 100%;" placeholder="Describe in details" maxlength="490"></textarea>
            </div>

            <div class="tags-input forms-inputs mb-4">
              <span>Tags</span>
              <input autocomplete="off" type="text" placeholder="List tags by comma" maxlength="50">
            </div>

            <div class="mb-3"><input value="Ask!" type="submit" class="btn btn-dark w-100"></input></div>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}