{% extends 'base.html' %}

{% block login %}
    <div class="container mt-6">
      <div class="row d-flex justify-content-center">
        <div class="login-window col-md-6">
          <div class="card px-5 py-5" id="form1">
            <div class="form-data" v-if="!submitted">

              <div class="title mb-4">
                  <p>Log In</p>
              </div>

              <div class="forms-inputs mb-4">
                  <span>Email</span>
                  <input autocomplete="off" type="text">
                  <!-- <div class="invalid-feedback">A valid email is required!</div> -->
              </div>

              <div class="forms-inputs mb-4">
                  <span>Password</span>
                  <input autocomplete="off" type="password">
                  <!-- <div class="invalid-feedback"><p>Password must be 8 character!</p></div> -->
              </div>
              <div class="ask-for-register" style="display: flex;">
                <p>No account?</p>
                <a class="signup-link" href="/signup" style="margin-left: 8px; color: #234E70;">Sign up</a>
              </div>
              <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Login</button> </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      .card {
        margin-bottom: 100px;
        background: #eff3fb;
        border: none;
        height: 420px;
      }
    </style>
{% endblock %}
