{% extends 'base.html' %}

{% block settings %}
<div class="container mt-6" style="height: 600px;">
  <div class="row d-flex justify-content-left" style="height: 100%;">
    <div class="settings-window col-md-6" style="width: 90%;">
      <div class="card px-5 py-3" style="padding-top: 0px; width: 100%; height: 100%;" id="form1">
        <div class="form-data">

          <div style="margin-bottom: 30px;">
              <p class="settings-title" style="font-size: 25px;"><a style="font-size: 30px; font-weight: 600;">Settings: </a>@{{ username }}</p>
          </div>

          <div class="forms-inputs mb-4">
              <span>Login</span>
              <input autocomplete="off" type="login">
              <!-- <div class="invalid-feedback">A valid email is required!</div> -->
          </div>

          <div class="forms-inputs mb-4">
              <span>Email</span>
              <input autocomplete="off" type="email">
              <!-- <div class="invalid-feedback"><p>Password must be 8 character!</p></div> -->
          </div>

          <div class="forms-inputs mb-4">
              <span>Nickname</span>
              <input autocomplete="off" type="nickname">
          <!-- <div class="invalid-feedback">A valid email is required!</div> -->
          </div>

          <div class="forms-inputs mb-4">
            <span>Upload avatar</span>
            <!-- <form for="formFile" class="form-label" >Default file input example</form> -->
            <input class="form-control" type="file" id="formFile" enctype="multipart/form-data">
          </div>

          <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Save</button> </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}