{% extends 'base.html' %}

{% block signup %}
    <div class="container mt-6">
      <div class="row d-flex justify-content-center">
        <div class="login-window col-md-6">
          <div class="card px-5 py-5" id="form1">
            <div class="form-data">

              <div class="title mb-4">
                  <p>Registration</p>
              </div>

              <div class="forms-inputs mb-4">
                  <span>Login</span>
                  <input autocomplete="off" type="login">
                  <!-- <div class="invalid-feedback">A valid email is required!</div> -->
              </div>
  
              <div class="forms-inputs mb-4">
                  <span>Email</span>
                  <input autocomplete="off" type="email">
                  <!-- <div class="invalid-feedback"><p>Password must be 8 character!</p></div> -->
              </div>

              <div class="forms-inputs mb-4">
                  <span>Nickname</span>
                  <input autocomplete="off" type="nickname">
              <!-- <div class="invalid-feedback">A valid email is required!</div> -->
              </div>

              <div class="forms-inputs mb-4">
                  <span>Password</span>
                  <input autocomplete="off" type="password">
              <!-- <div class="invalid-feedback"><p>Password must be 8 character!</p></div> -->
              </div>

              <div class="forms-inputs mb-4">
                  <span>Repeat password</span>
                  <input autocomplete="off" type="repeat-password">
              <!-- <div class="invalid-feedback"><p>Password must be 8 character!</p></div> -->
              </div>

              <div class="forms-inputs mb-4">
                <span>Upload avatar</span>
                <!-- <form for="formFile" class="form-label" >Default file input example</form> -->
                <input class="form-control" type="file" id="formFile" enctype="multipart/form-data">
              </div>

              <div class="ask-for-login" style="display: flex;">
                <p>Already have an account?</p>
                <a class="login-link" href="/login" style="margin-left: 8px; color: #234E70;">Log in</a>
              </div>

              <div class="mb-3"> <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Register</button> </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

{% endblock %}
